.h1{
  background-color: Red;
}

.sun{
  margin-left: -145;
  width: 175px;
  height: 55px;
}
/* .footer{
  margin-top:50%;
  background-color: rgb(323,52,85);
} */
.d-flex{
  margin-left:200px;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.test{
  width: 500px;
  height: 233px;
  float:left;
  margin-left:5%;
  background-color: Red;
}
.test .overlay{
opacity: 1;
}
.test:hover{
  transform:scale(1.1);
  transition: 2s;
}

/* .nav-item me-auto{
  float: right;
} */
.card{
  float:left;
  width: 18.9055rem;
}
